* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    width: 400px;
    height: 500px;
    border: 5px solid black;
    position: relative;
}
.overlay {
    background-color: aqua;
    visibility: hidden;
}
div:hover .overlay {
    visibility: visible;
}
div::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .4);
}
div:hover::after {
    visibility: visible;
    width: 100%;
    height: 100%;
    transition: .9s;
}